img {
    width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

h1 {
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

p {
    font-size: 40px;
    line-height: 1.5;
    color: #34495e;
    margin-top: 10px;
    background-color: darkkhaki;
    padding: 10px;
}